<ActionBar class="action-bar tab-box">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<TabView
    selectedTabTextColor="#20624d"
    tabBackgroundColor="#e6e6e6"
    androidSelectedTabHighlightColor="#20624d"
    [selectedIndex]="selectedIndex"
    (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Početna'}">
        <Home (confirmDialogResult)="tabIndexChange($event)"></Home>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Anketa'}">
        <Survey></Survey>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Pridruži se'}">
        <Jobs></Jobs>
    </StackLayout>
</TabView>