<ActionBar class="action-bar tab-box">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<TabView
    selectedTabTextColor="#20624d"
    tabBackgroundColor="#e6e6e6"
    androidSelectedTabHighlightColor="#20624d"
    [selectedIndex]="selectedIndex"
    (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Početna', iconSource: getIconSource('home')}">
        <Home (confirmDialogResult)="tabIndexChange($event)"></Home>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Druženje', iconSource: getIconSource('browse')}">
        <Browse></Browse>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Pridruži se', iconSource: getIconSource('search')}">
        <Search></Search>
    </StackLayout>
</TabView>