<ActionBar class="action-bar">
    <Label class="action-bar-title" text="O aplikaciji"></Label>
</ActionBar>

<GridLayout class="page" rows="auto, auto, auto, auto, auto" columns="auto, *">
    <StackLayout [row]="i" orientation="vertical" *ngFor="let item of aboutList, let i = index" (tap)="goTo(item.link)">
        <StackLayout width="20%" orientation="vertical">
            <Image [src]="item.source" stretch="none"></Image>
        </StackLayout>
        <StackLayout width="70%" orientation="vertical">
            <Label [text]="item.text"> </Label>
        </StackLayout>
    </StackLayout>
</GridLayout>