<GridLayout class="page page-content">
    <GridLayout rows="*, *, auto" columns="*, *">
        <!-- Welcome -->
        <StackLayout row="0" colSpan="2">
                <Label
                    class="welcome-text "
                    text="Dobro došli">
                </Label>
                <Label 
                    class="welcome-text important-text shaking-animation"
                    text="Quantox Meetup 2018">
                </Label>
                <Label
                    class="welcome-text"
                    text="Kragujevac">
                </Label>
        </StackLayout>
        <!-- Buttons -->
        <StackLayout row="1" col="0" >
            <Button class="btn btn-rounded-lg pool-color" text="Popuni anketu" (tap)="openPool()"></Button>  
        </StackLayout> 
        <StackLayout row="1" col="1">
            <Button class="btn btn-rounded-lg jobs-color" text="Otvorene pozicije" (tap)="openJobs()"></Button>  
        </StackLayout>  
        <!-- Counter -->
        <StackLayout row="2" colSpan="2" class="time-counter blinking-animation">
                <Label text="Vreme do početka:"></Label>
                <Label [text]="timeDifference"></Label>   
        </StackLayout>
    </GridLayout>
</GridLayout>