/* Variables */
$home-primary: #20624d;
$home-alternative:  #a3730d;

/* Logo */
Image.quantox-logo {
    horizontal-align: center;
    margin: 20;
} 

.big-margin {
    margin: 30;
}

/* Intro text */
Label.intro-text {
    text-align: center;
    &.company {
        text-transform: uppercase;
        font-size: 30;
        font-weight: bold;
        color: black;
        .first-letter {
            font-size: 36;
            &.primary {
                color: $home-primary;
            }
            &.alternative {
                color: $home-alternative;
            }
        }
    }
    &.location {
        font-size: 24;    
        color: black; 
        border-top-color: $home-primary;
        border-top-width: 2 ;
        margin: 5 30;
    }
}

/* Animations */
@keyframes scale {
    0%   {transform: scale(1.0)}
    50%  {transform: scale(1.5)}
    100% {transform: scale(1.0)}
}

.scale-animation {
    animation-name: scale;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes colorChanger {
    0%   {background-color:rgb(36, 154, 158) }
    50%  {background-color: $home-alternative; }
    100% {background-color:rgb(36, 154, 158) }
}

.color-changer {
    animation-name: colorChanger;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

/* Counter */
.time-counter {
    font-size: 26;
    text-align: center;
    color: white;
    background-color: $home-alternative;
    padding: 10 0;
    width: 100%;
}

.time-counter Label {
    color: white;
    horizontal-align: center;
    text-align: center;
    width: 100%;
}

/* Buttons */

.button-wrapper {
    vertical-align: center;
    margin: 10;
}

Button {
    vertical-align: center;
    &.pool-color {
        border-color: $home-alternative ;
        border-width: 2;
        font-weight: bold;
        background-color: white;
        color: $home-alternative ;
        &:highlighted {
            border-color: $home-alternative ;
            background-color: $home-alternative ;
            color: white;
        };
    };
    &.jobs-color {
        border-color:$home-primary;
        border-width: 2;
        font-weight: bold;
        background-color: white;
        color:$home-primary;
        &:highlighted {
            border-color:$home-primary;
            background-color:$home-primary;
            color: white;
        };
    };
    
};
