.page-content {
    margin-top: 30;
}

.question {
    color: rgb(12, 56, 30);
    margin: 0 20;
    font-size: 18;
    padding: 5 15;
}

.answer {
    color: gray;
    font-size: 16;
    padding: 5 15;
    margin: 0 20 20 20;
    border-bottom-width: 1;
    border-color: green;
}

.answer-invalid {
    color: gray;
    font-size: 16;
    padding: 5 15;
    margin: 0 20 20 20;
    border-bottom-width: 1;
    border-color: red;
}

.answer-email {
    color: gray;
    font-size: 16;
    margin: 0 20 20 20;
    padding-left: 15;
}

.input-invalid {
    border-color: red;
}

.warning {
    color: red;
    font-size: 20;
    margin: 10;
}


