<ScrollView>
    <!-- Survey -->
    <GridLayout *ngIf="!isFormSubmitted" class="page page-content" rows="auto, auto, auto, auto, auto, auto">
        <!-- Position -->
        <StackLayout row="0" (tap)="openPositions()">
            <Label class="question" text="1. Na kojoj poziciji radiš?"></Label>
            <Label class="answer" [class.answer-invalid]="!positionSelected && isFormInvalid" [text]="positionPlaceholder"></Label>
        </StackLayout>
        <!-- Experience -->
        <StackLayout row="1" (tap)="openKnowledge()">
            <Label class="question" text="2. Koja nivo iskustva poseduješ?"></Label>
            <Label class="answer" [class.answer-invalid]="!knowledgeSelected && isFormInvalid" [text]="knowledgePlaceholder"></Label>
        </StackLayout>
        <!-- Years -->
        <StackLayout row="2" (tap)="openYearRang()">
            <Label class="question" text="3. Koliko imaš godina?"></Label>
            <Label class="answer" [class.answer-invalid]="!yearSelected && isFormInvalid" [text]="yearPlaceholder"></Label>
        </StackLayout>
        <!-- Framework -->
        <StackLayout row="3" (tap)="openFramework()">
            <Label class="question" text="4. Koji je tvoj omiljeni JS framework?"></Label>
            <Label class="answer" [class.answer-invalid]="!frameworkSelected && isFormInvalid" [text]="frameworkPlaceholder"></Label>
        </StackLayout>
        <!-- Email -->
        <StackLayout row="4">
            <Label class="question" text="5. Unesi svoj e-mail"></Label>
            <TextField #email class="answer-email" [class.input-invalid]="!isValidEmail() && isFormInvalid" keyboardType="email" [hint]="emailPlaceholder"
                autocorrect="false" (returnPress)="printValue(email.text)" (blur)="printValue(email.text)"></TextField>
        </StackLayout>
        <!-- Submit Button -->
        <StackLayout row="5">
            <Button text="Potvrdi odgovore" (tap)="onSubmit()" width="auto"></Button>
            <Label [text]="validationMessage" *ngIf="isFormInvalid" class="warning"></Label>
        </StackLayout>
    </GridLayout>
    <!-- Charts --> 
    <GridLayout *ngIf="isFormSubmitted" rows="*" columns="*">
        <StackLayout>
            <Label [text]="positionStats[0].field"></Label>
            <Label [text]="positionStats[0].total"></Label>
        </StackLayout>
    </GridLayout>
</ScrollView>