<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Rezultati ankete"></Label>
</ActionBar>

<!-- Stats -->

<ScrollView>
    <StackLayout>
        <GridLayout class="page page-content" rows="auto, 250, auto, 250, auto, 250, auto, 250">
            <Label text="Pozicije: " class="headline" row="0"></Label>
            <ListView [items]="positionStats" row="1">
                <ng-template let-item="item" let-i="index">
                    <StackLayout class="position-stats" orientation="horizontal">
                        <Label [text]="item.field"></Label>
                        <Label [text]="item.total" class="total"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
            <Label text="Nivo iskustva: " class="headline" row="2"></Label>
            <ListView [items]="knowledgeStats" row="3">
                <ng-template let-item="item" let-i="index">
                    <StackLayout class="position-stats" orientation="horizontal">
                        <Label [text]="item.field"></Label>
                        <Label [text]="item.total" class="total"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
            <Label text="Framework: " class="headline" row="4"></Label>
            <ListView [items]="frameworkStats" row="5">
                <ng-template let-item="item" let-i="index">
                    <StackLayout class="position-stats" orientation="horizontal">
                        <Label [text]="item.field"></Label>
                        <Label [text]="item.total" class="total"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
            <Label text="Godine: " class="headline" row="6"></Label>
            <ListView [items]="yearStats" row="7">
                <ng-template let-item="item" let-i="index">
                    <StackLayout class="position-stats" orientation="horizontal">
                        <Label [text]="item.field"></Label>
                        <Label [text]="item.total" class="total"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </StackLayout>
</ScrollView>