.action-bar {
  background: #a3730d;
  .action-bar-title {
    color: white;
  }
}

.survey-wrapper {
  margin: 10;
  padding: 10;
  font-size:18;
  color: black;
}

.total {
  color: green;
}

.headline {
  color: gray;
  font-size:22;
}